form {
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.deckInput {
    height: auto;
    /* transition: height 2s; */
}

.deckInput>textarea {
    /* resize: vertical; */
    resize: none;
    /* min-height: 8em; */
}

.deckInput>button {
    display: block;
    width: 100%;
    background-color: aquamarine;
    border: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius:  10px;
    padding: .5em;
}

.deckInput>button:hover {
    cursor: pointer;
    background-color: rgb(128, 245, 202);
}

/* 
    Just a temporary patch to ensure that
    the Grammarly plugin does not overlap
    with elements that are directly
    adjoining the input field calling it.
*/
grammarly-ghost>div {
    box-sizing: border-box !important;
}